<div class="container text-center">
  <div class="row g-3 justify-content-around align-items-center">
    <div class="col-12 col-sm-11">
      <div class="alert alert-primary" role="alert">
        <h2>خوش آمدید</h2>
      </div>
    </div>

    <div class="col-12 col-sm-5">
      <div class="card text-center">
        <div class="card-header">
          <b>صفحه محصولات</b>
        </div>

        <div class="card-body">
          <p class="card-text text-end">
            لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی
            گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل
            ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید،
          </p>
        </div>

        <div class="card-footer text-body-secondary text-start">
          <button class="btn btn-warning btn-sm" (click)="onViewRedirect('/products')">مشاهده صفحه</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5">
      <div class="card text-center">
        <div class="card-header">
          <b>صفحه درباره ما</b>
        </div>

        <div class="card-body">
          <p class="card-text text-end">
            لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی
            گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل
            ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید،
          </p>
        </div>

        <div class="card-footer text-body-secondary text-start">
          <button class="btn btn-warning btn-sm" (click)="onViewRedirect('/about-project')">مشاهده صفحه</button>
        </div>
      </div>
    </div>
  </div>
</div>